@import "styles/_variables.scss";

.menu {
  padding: 20px $padding-horizontal;
}

.header {
  align-items: center;
  background-image: url("/assets/images/cardapio/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0 $padding-horizontal;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}
